<h1>New project</h1>

<%= form_with model: @project do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Create Project" %>
  </div>
<% end %>

<%= link_to "Back to Projects", projects_path %>